html,
body {
  margin: 0px;
  padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h1,
p {
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1rem;
  padding-top: 1.25rem;
  padding: 0px 0.625rem;
}

* {
  font-family: "Heebo", sans-serif;
  color: #0f5380;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/Path\ 15.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  text-align: center;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.1875rem;
  margin-top: 2.5rem;
  padding-bottom: 50px;
}

input {
  border: none;
  border-bottom: 3px solid #0f5380;
  background-color: #f6f6f6;
  width: 18.75rem;
  height: 2rem;
}

button {
  background-color: #0f5380;
  color: white;
  width: 10.375rem;
  min-height: 3.125rem;
  border: none;
  margin-top: 1rem;
}

.labels {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.1875rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  form {
    flex-direction: column;
  }

  h1 {
    line-height: 3rem;
    font-size: 3rem;
  }

  .title {
    max-height: 50vh;
  }

  main {
    height: 100vh;
  }

  section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
